body {
  background-color: rgba(153, 0, 120, 0.1);
}
.weather-app{
  background-color: white;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba: 0, 0, 0, 0.25;
  max-width: 600px;
  margin: 0 auto;
  font-family:lexend, sans-serif}